USE [master]
GO
/****** Object:  Database [TodoDB]    Script Date: 7/20/2016 9:56:07 AM ******/
CREATE DATABASE [TodoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TodoDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TodoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TodoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoDB]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 7/20/2016 9:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
	[ListID] [int] NOT NULL,
	[DueDateTime] [datetime] NULL,
	[Details] [nvarchar](max) NULL,
	[IsDone] [bit] NOT NULL CONSTRAINT [DF_Items_IsDone]  DEFAULT ((0)),
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lists]    Script Date: 7/20/2016 9:56:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lists](
	[ListID] [int] IDENTITY(1,1) NOT NULL,
	[ListTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lists] PRIMARY KEY CLUSTERED 
(
	[ListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Lists] FOREIGN KEY([ListID])
REFERENCES [dbo].[Lists] ([ListID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Lists]
GO
USE [master]
GO
